body {
  background-color: white;
  font-family: "Comic Sans MS", serif, sans-serif;
  font-size: 1.1em;
}

#jmbtn {
  margin: 5px !important;
  border: 2px darkgray solid;
  text-align: center;
}
#jmbtn:hover {
  background-color: lightgray;
}


html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
#content {
  margin: 0 auto;
  font-family: sans-serif;
  background-color: white;
}
header {
  align-items: center;
  display: grid;
  grid-template-columns: 110px auto;
  background-color:#f8f9fa!important; ;
  border-bottom: 4px solid;
}

.logo-box {
  width: 110px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(164, 51, 18);
  text-align: center;
  font-family: "Brush Script MT", cursive;
  font-size: 2em;
  padding: 10px;
  line-height: 1em;
}
p {
  padding: 10px;
  font-size: 23px;
  line-height: 1.3em;
  color: rgb(164, 51, 18);
  font-size: 1.1em;
}
.leftcol,
.rightcol {
  width: 48%;
  flex: 1 0 15em;
  margin: 0.5em;
}
#sec1,
#sec2 {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

footer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
#sec2 {
  background-color: white;
}
#sec3 {
  text-align: center;
  margin: 0%;
}
.pspec {
  font-size: 22px;
  font-style: italic;
  color: #a43312;
}
footer {
  background-color: lightgrey;
  border-top: 5px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
img {
  max-width: 100%;
}
#banner {
  max-width: 100%;
}
#img1,
#img2 {
  width: 450px;
  /*height:75;*/
  box-shadow: 8px 8px 8px #004e4e;
  border-radius: 10px;
}

.social-img {
  border-radius: 100px;
  margin-bottom: 5px;
}
.social {
  justify-self: end;
  margin: 20px;
  border-radius: 10px;
  margin-bottom: 5px;
}

/*.home-paragraph-3-1 {
  border-top: 5px solid black;
  }
  */
.home-paragraph-3 {
  margin: auto 0%;
}
#copyright {
  padding: 5px;
  display: flex;
  justify-self: start;
}


@media screen and (max-width: 960px) {
  .home-grid,
  nav ul {
    display: block;
  }
}
@media screen and (max-width: 960px) {
  .content nav ul {
    display: block;
  }
}
@media screen and (min-width: 300px) {
  .content nav ul nav ul {
    display: block;
    margin-left: 0;
  }
}

.contact-img {
  width: 405px;
  padding: 15px;
  margin: 10px;
}

#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  margin: 0;
}

/*
#question {
  align-items: center;
  text-align: center;
}
*/
.e-mail {
  margin: 5px;
}

.button {
  margin-left: 10px;
  width: 36%;
  padding: 10px;
}
#mce-EMAIL{
  width: 200px;
  height: 30px;
  padding: 10;
}

#subscribe-offers {
  margin-left: 10px;
}
body,
p,
a,
ul,
li {
  /* margin: 0;
    padding: 0;*/
  text-decoration: none;
}
li {
  list-style-type: none;
}
/* mobile styles */
.site-nav {
  margin: 0 20px;
}
.site-nav h1 {
  padding-bottom: 10px;
  border-bottom: 3px solid;
  display: inline-block;
}
.site-nav ul {
  display: none;
}

#quick-links {
  display: none;
  justify-content: flex-end;
  align-self: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 70px;
}
.logo-box {
  display: none;
} 

/* small tablet styles */
@media screen and (min-width: 992px) {
  .site-nav {
    padding: 0 20px;
  }
  #quick-links {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 70px;
  }
  .logo-box {
    display: flex;
  }

  .site-nav ul {
    display: flex;
    align-self: center;
    justify-content: flex-end;
    text-decoration: none;
  }
}
.site-nav li {
  margin-left: 20px;
}

/* large tablet & laptop styles */
@media screen and (min-width: 960px) {
  .site-nav {
    padding: 0 20px;
  }

  body {
    font-size: 18px;
  }
}
/* desktop styles */
@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}
#staticBackdropLabel {
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
}
#t-tittle,
#b-tittle {
  font-family: Arial, Helvetica, sans-serif;
}
.bi-calendar-month-fill,
.bi-person-circle {
  margin-right: 4px;
}
.until{
  margin: 25px;
  max-width: 500px;}

  .modal-header{
    background-color:#f8f9fa!important;
  }
  
  .modal-body{
    height: 350px;
    overflow: hidden;
  }
  .modal-body:hover{
    overflow-y: auto;
  }
  
  .fade{
    opacity: 1;
    -webkit-transaction:opacity 1s linear;
  }
  .elfsight-app-ad2ba947-e85f-4d7a-b742-944f2061faa4{
    margin-bottom:  65px;
    clear: both;
 ;

  }
  .big-deal{
    font-weight: bold;
    text-align: center;margin: 0,auto;
  }
  